/*---------------------------------------- NAVBAR -----------------------------*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0c4783;
    color: white;
    padding-top: 0.8rem;
    padding-bottom: .8rem;
    z-index: 1000;
}
.logo {
    margin-right: 10px;
    border-radius: 50%;
}
.navbar a {
    color: white;
}
.dark-mode {
    display: flex;
    float: left;
    margin-right: 50px;
}
.side-bar-icon {
    margin-top: 1px;
    /* text-align: center; */
    font-size: 18px;
}
.side-bar-icon i {
    margin-right: 5px;
}
.dark-mode {
    margin-right: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
}
.light-mode {

    border: 1px solid #fff;
    color: white;
}

/*------------------------------ SIDE NAV ---------------------------------*/
.sidenav {
    margin-top: 66px;
    margin-bottom: 68px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    overflow-x: hidden;
    background-color: #474d53;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav-option {
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
  }
  .sidenav-option:hover {
      color: #0c4783;
  }
  .sidenav-option i {
      margin-right: 10px;
  }
  .sidenav-option:hover {
      text-decoration: none;
  }
  .closebtn {
      color: white;
  }
  .closebtn:hover {
      color: black;
      text-decoration: none;
  }