<app-navbar></app-navbar>
<app-date-picker></app-date-picker>
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-5">
      <app-table></app-table>
    </div>
    <div class="empty col-md-2 mb-5"></div>
    <div class="col-md-8 mb-5">
      <app-small-table></app-small-table>
    </div>
    <div class="empty col-md-2 mb-5"></div>
    <div class="col-md-1 empty"></div>
    <div class="col-md-10">
      <app-medium-table></app-medium-table>
    </div>
    <div class="col-md-1 empty"></div>
    <!-- <div class="col-md-6 mb-5">
      <app-small-table></app-small-table>
    </div>
    <div class="col-md-6 mb-5">
      <app-small-table></app-small-table>
    </div> -->
  </div>
</div>

<app-footer></app-footer>