<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | paginate: {id : 'medium_table_pagination',
      itemsPerPage: 3,
      currentPage: page,
      totalItems: totalRecords}">
        <th scope="row">{{ user.id }}</th>
        <td> {{ user.username }} </td>
        <td> {{ user.phone }} </td>
        <td> {{ user.email }} </td>
      </tr>      
    </tbody>
  </table>
  <div>
    <pagination-controls id="medium_table_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
  </div>

